# Virtual environments
.venv/
dl_env/

# Python
__pycache__/
*.pyc

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# MLflow
mlruns/
mlflow.db

# Large datasets
maha_oc_s2_merged.csv

# Ignore all CSV files
*.csv